# Visual Studio Code
.vscode/
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
x64/
x86/
build/
Build/
build/
Build/

# Rider
.idea/
*.sln.iml

# Mac
.DS_Store

# Nuget Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config

# Roslyn
*.ruleset

# Temporary files
*.log
*.tlog
*.tmp